[submodule "kubespray"]
	path = kubespray
	url = git://github.com/kubernetes-incubator/kubespray.git
[submodule "etcd-operator"]
	path = etcd-operator
	url = git://github.com/coreos/etcd-operator.git
